.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 100px;
}

.App-header {
  background-color: rgb(184, 184, 184);
  height: 100px;
  padding-bottom: 10px;
  color: white;
  box-shadow:0 1px 3px 1px #00000014;
}

.App-intro {
  font-size: large;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
