.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 100px;
  zoom:.8;
  margin-top:10px;
}

.App-header {
  background-color: rgb(228, 228, 228);
  height: 100px;
  padding-bottom: 10px;
  color: white;
  box-shadow: 2px 2px 3px #9d9fa1;
}

.App-intro {
  font-size: large;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
