.image {
    height: 250px;
    width: 250px;
    margin: 1rem;
      box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
      background-color: white;
      border-radius: 3px;
  }

  
  .App {
    color: teal;
  }


  .App {
    text-align: center;
  }