.header1 {
    padding: 30px 0;
    color: #b29744;
    background-color: #1c75bc;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: 0px 1px 1px 3px #00000014;
}

.logo {
    width:100%;
}