.image {
    height: 125px;
    width: 250px;
    margin: 0;
    box-shadow: 0px 10px 12px -5px rgba(0, 0, 0, 0.56);
    border-radius: 7px;
    object-fit:cover;
    padding:1px;
  }

  .icon {
    height:54px!important;
    width:54px!important;
  }
  
  .App {
    color: #1c75bc;
  }


  .App {
    text-align: center;
  }