.navbar {
}

.navbar-collapse {
  margin: 0 auto;
  align-items: flex-start;
}

.navbar li {
  background-color:rgb(248, 248, 248);
  text-decoration-color: #1c75bc;
  border-radius:7px;
  box-shadow:0px 1px 2px 1px #00000009;
  margin:5px;
  border:solid 1px #1c74bc34;
}

.navbar li:hover {
  box-shadow:0px 1px 1px 1px #00000009;
  animation-name: menuLi;
  animation-duration: 4s;
}

@keyframes menuLi {
  from {background-color: rgb(248, 248, 248);}
  to {background-color: #000;}
}