.navbar {
  padding-top:20px;
}

.navbar-collapse {
  margin: 0 auto;
  align-items: flex-start;
}

.navbar-light .navbar-toggler {
  margin: 11px 5px -54px -2px;
  z-index: 1;
}

.navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {

  padding-left: 45px;
}

.navbar li {
  background-color:rgb(248, 248, 248);
  text-decoration-color: #1c75bc;
  margin:3px;
  border:none;
  padding:10px 0px 10px 0px;
}

.navbar li a { 
  margin:20px;
}

.navbar li:hover {
  box-shadow:0px 1px 1px 1px #00000009;
  animation-name: menuLi;
  animation-duration: 6s;
}

@keyframes menuLi {
  from {background-color: rgb(248, 248, 248);}
  to {background-color: rgb(228, 228, 218);}
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

/* @media (max-width: 650px) {

  .navbar-light .navbar-toggler {
    margin: 20px 5px -87px -10px;
    z-index: 1;
  }

} */