body {
	background-image: url("./images/bkggold.png");
	background-size: auto;
	margin: 0 0 0 0;
}

nav ul a {
    font-size: 1.25rem;
}


.darkmode--activated {
	background-color:#000;
}


.darkmode--activated p, .darkmode--activated li {
	color: #fff;
  }

nav {
	background-color: transparent;
    box-shadow: none;
}

body::-webkit-scrollbar {
	display: none;
}

@font-face {
	font-family: 'ChunkFiveRegular';
    font-style: normal;
    font-weight: normal;
    src: local('ChunkFiveRegular'), url("Chunkfive.woff") format('woff');
}

#logotext {
	float: left;
	padding-left: 2%;
	padding-top: .5%;
	padding-right: 23%;
}


p .darkmode--activated {
	color: #fff!important;
}

.darkmode-background {
	background: transparent;
	background-image: url('./images/bkggold.png')!important;
}
.darkmode-layer {

}
.darkmode-layer--button {
	bottom: 5%;
    right: 2%;
}

.darkmode-toggle {
    bottom: 5%;
    right: 2%;
}

.headtext {
	color: #fff;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444;
	font: 40px 'ChunkFiveRegular';
}

.headtextblk {
	color: #000;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444;
	font: 40px 'ChunkFiveRegular';
}

.headtextgold {
	color: rgb(226, 188, 15);
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444;
	font: 40px 'ChunkFiveRegular';
}

.navbar-collapse.in {
	background-color: white;
	box-shadow: 0px 3px 2px 1px #00000009;
	z-index: 999;
}

.navbar-toggler {
	padding: 10px;
	margin: 10px;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 3px solid #ffde16;
	-webkit-box-shadow: 0 1px 0 0 #ffde16;
	box-shadow: 0 1px 0 0 #ffde16;
}

.inputs {
	border-bottom: 1px solid #4498d3!important;
}

.inputs:active {
	border-bottom: 1px solid #ffde16!important;
}

a {
	text-decoration: none;
}

h1 {
	color: rgb(78, 78, 78);
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h4 {
	color:#000;
}
h5 {
	text-align: center;
}

p {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	color:#000000;
}

quote {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
	font-weight: 900px;
}

#me {
	width: 105%;
	border-radius: 50%;
	height: auto;
}

.bar {
	pointer-events: none;
}

#floattext {
	padding: 0 14px 14px 14px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	overflow-wrap: break-word;
}

#pagetitle {
	font-size: 30px;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
	padding-top: 20px;
	color: #fdd600;
}

.flex-container {
	flex-direction: column;
	min-height: 100vh;
}

.ptitle {
	padding-left: 10px;
}

.footer {
	background-color: #4498d3;
	color: rgb(197, 185, 153);
	position: fixed;
	display: -webkit-box;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1.5em;
	border-top: 4px solid #fdd600;
}

#copyright {
	color: gainsboro;
	text-align: center;
	margin-bottom: 15px;
	margin: 0 auto;
}

input {
	border-radius: 5px;
	border: 1px solid #4498d3;
	box-shadow: inset 0px 1px 1px 1px #00000014;
}

textarea {
	border-radius: 5px;
	border: 1px solid #fdd600;
	box-shadow: inset 0px 1px 1px 1px #00000014;
}

iframe {
	border-radius: 5px;
	box-shadow: 0px 1px 2px 2px #00000005;
}

.row {
	margin: 8px -16px;
}

.row, .row > .column1 {
	padding: 15px;
	margin: 0 auto;
}

.card.small {
	height: auto;
	padding: 1%;
	margin: 3%;
	overflow: hidden;
}

.card {
	border-radius: 7px 7px 0 0;
}

#fiveday-weather {
	padding: 1%;
}

.column1 {
	float: left;
	width: 30%;
}

.column2 {
	float: none;
	width: 50%;
	margin: 0 auto;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

#map {
	float: right;
	padding-right: 5%;
}

.content {
	background-color: #fff;
	padding: 0px 0 0 0;
	box-shadow: 0px 1px 1px 1px #00000025;
	width: 960px;
	padding-bottom: 3.5rem;
	margin: 0 auto;
	border-radius: 7px;
	bottom: 0;
}

.radius-1 {
	border-radius: 7px 7px 0 0;
}

.contactform {
	text-align: center;
	font-weight: 600px;
	float: left;
	width: 40%;
	padding: 10px 0 10px 0;
	zoom: 1.25;
}

nav .nav-wrapper {
	z-index: 999!important;
}

.navhead {
	height: 75px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 1px 1px 1px #00000025;
}

#logo {
	width: 240px;
	height: 75px;
	background-color: #4498d3;
	margin-left: 17.5%;
	text-align: center;
	float: left;
}

.btn:focus {
	outline: none;
	border-bottom: 1px solid #4498d3;
}

#logopic {
	width: 130px;
	height: auto;
}

.topnav {
	background-color: #fff;
	overflow: hidden;
	height: 75px;
	margin-right: 7%;
	padding: 0px 0px 0px 0px;
	float: right;
}

.social-icons {
	margin: 1%;
	zoom: 1.5;
}

.topnav a {
	color: #9b9b9b;
	padding: 27.5px 10px 55px 10px;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: capitalize;
	text-align: center;
	float: right;
}

.padded {
	padding: 2%;
}

.sidenav li>a:hover {
	background-color: rgba(234, 196, 18, 0.41);
}

.switch label input[type=checkbox]:checked+.lever {
	background-color: #ffeb3b;
}

.switch label input[type=checkbox]:checked+.lever:after {
	background-color: #4498d3;
}

#dropdown1 {
	position: sticky;
}

#dropdown2 {
	position: sticky;
}

.topnav a:hover {
	background-color: rgb(250, 250, 250);
	color: black;
}

.topnav a.active {
	vertical-align: middle;
	color: #4a68aa44;
}

.picbox {
	object-fit: scale-down;
}

.pic {
	box-shadow: 0px 1px 3px 0px #00000014;
	border-radius: 5px;
}

.pic:hover {
	opacity: 0.7;
}

.myImg {
	border-radius: 7px;
	cursor: copy;
	transition: 0.3s;
	border: 1px solid gray;
}

.myImg:hover {
	zoom: 2;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9);
}

.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

.modal-content, #caption {
	animation-name: zoom;
	animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(0);
	}

	to {
		-webkit-transform: scale(1);
	}
}

@keyframes zoom {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

@media only screen and (max-width: 700px) {
	.modal-content {
		width: 100%;
	}
}

@media screen and (max-width: 1200px) {
	.column {
		width: 50%;
	}

	.contentabout {
		
		background-color: #fff;
		padding: 0px 0 0 0;
		box-shadow: 0px 1px 1px 1px #00000025;
		width: 960px;
		padding-bottom: 3.5rem;
		margin: 0 auto;
		border-radius: 7px;
        /* bottom: 0; */
        /* height: fit-content; */;
	}
}

@media screen and (max-width: 900px) {
	.column {
		width: 50%;
	}
}

@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}

@media only screen and (max-width: 994px) {
	#logotext {
		float: right;
		padding-left: 2%;
		padding-top: .5%;
		padding-right: 1%;
	}
}

@media only screen and (min-width: 994px) and (max-width:1045px) {
	#logotext {
		float: right;
		padding-left: 2%;
		padding-top: .5%;
		padding-right: 1%;
	}
}

@media only screen and (min-width: 500px) and (max-width:1440px) {
	.carousel-size {
		height: 800px;
		top: -280px;
	}
}

@media screen and (min-width: 1440px) {
	.carousel-size {
		height: 1500px;
		top: -500px;
	}
}