body {
	background-color:#ebebeb;
}

.modal-backdrop {
	z-index: 0;
}

.rdImg {
	max-height: 200px;
    object-fit:cover;
}

.evImg {
	max-height: 300px;
	width: 100%;
	object-fit: cover;
	display: block;
	right:10%;
}

.shadow {
	box-shadow: 0px 10px 12px -5px rgba(0, 0, 0, 0.56)!important;
}

.maincontent {
	margin-top:50px;
}

.conditions {
	font-size: smaller;
}

#profileImage {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: #1c75bc;
	font-size: 28px;
	color: #fff;
	text-align: center;
	line-height: 40px;
    margin: 20px 0;
    padding-top: 25px;
}

.card {
	 border:none;
}

.card-body {
	padding: 1.8rem 1.25rem 1.25rem 1.25rem;
}

.card-title {
	font-weight: bold;
	
}

.zPage {
	z-index:500;
}

.darkmode-layer--button {
    width: 0.9rem;
	height: 0.9rem;
}

.darkmode-layer--simple {
    visibility: hidden;
}

.darkmode-toggle {
	box-shadow: 2px 2px 3px #9d9fa1,
			-2px -2px 3px #ffffff;
	z-index: 999;
	width: 1rem;
	height: 1rem;
}

.kep-login-facebook.metro {
    border-radius: 7px!important;
	box-shadow: 2px 2px 3px #9d9fa1,
			-2px -2px 3px #ffffff;
	border: none;
}

.neu {
	border-radius: 7px;
	background: #f4f4f7;
	box-shadow: 2px 2px 3px #9d9fa1,
			-2px -2px 3px #ffffff;
	border: none;
}

.neuflip {
	border-radius: 7px;
	background: #f4f4f7;
	box-shadow: inset 2px 2px 2px #9d9fa1,
				inset -2px -2px 2px #ffffff;
	border: none;
}


a:hover {
    text-decoration: none;
}
.btn-primary {
	background-color:#1c75bc;
}
nav ul a {
    font-size: 1.25rem;
}

.darkmode--activated {
	background-color:#000;
}

.darkmode--activated p, .darkmode--activated li {
	color: #fff;
  }

body::-webkit-scrollbar {
	display: none;
}

p .darkmode--activated {
	color: #fff!important;
}

.darkmode-background {
	background: transparent;
}
/*.darkmode-layer {

}*/
.darkmode-layer--button {
	bottom: 5%;
    right: 2%;
}

.wSearch {
	height:160px;
}

.wCard {
	width:20%;
	height:auto;
}

.numberInput {
	width:100%;
}

.darkmode-toggle {
    bottom: 5%;
    right: 2%;
}

li {
	list-style-type:none;
	color:black;
}

.navbar-collapse.in {
	box-shadow: 0px 3px 2px 1px #00000009;
	z-index: 999;
}

.navbar-toggler {
	padding: 10px;
	margin: 10px;
}

.darkmode--activated p, .darkmode--activated li {
    color: #000;
}

a {
	text-decoration: none;
}

.footer {
	background-color: #1c75bc;
	color: rgb(197, 185, 153);
	position: fixed;
	display: -webkit-box;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1.5em;
	box-shadow: 2px 2px 3px #9d9fa1,
	-2px -2px 3px #ffffff;
}

#copyright {
	color: gainsboro;
	text-align: center;
	margin-bottom: 15px;
	margin: 0 auto;
}

/* input {
	border-radius: 5px;
	border: 1px solid #4498d3;
	box-shadow: inset 0px 1px 1px 1px #00000014;
	margin:2px;
	padding:3px;
	text-align:center;
} */

iframe {
	border-radius: 5px;
	box-shadow: 0px 1px 2px 2px #00000005;
}

.picbox {
	object-fit: scale-down;
}

.pic {
	box-shadow: 0px 1px 3px 0px #00000014;
	border-radius: 5px;
}

.pic:hover {
	opacity: 0.7;
}

.myImg {
	border-radius: 7px;
	cursor: copy;
	transition: 0.3s;
	border: 1px solid gray;
}

.myImg:hover {
	zoom: 2;
}

.modal {
	display: none;
	position: fixed;
	/* z-index: 1; */
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9);
}

.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

.modal-content, #caption {
	animation-name: zoom;
	animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(0);
	}

	to {
		-webkit-transform: scale(1);
	}
}

@keyframes zoom {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.text-dark {
	color:#1e1e1f!important;
}

.buttonz:hover{
	box-shadow:0px 1px 1px 1px #00000009;
	animation-name: buttFade;
	animation-duration: 6s;
}

@keyframes buttFade {
	from {background-color:#d3d3d3;}
	to {background-color: rgb(73, 73, 73);}
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

@media only screen and (max-width: 700px) {
	.modal-content {
		width: 100%;
	}
}

@media screen and (max-width: 1200px) {
	.column {
		width: 50%;
	}

	.contentabout {
		
		background-color: #fff;
		padding: 0px 0 0 0;
		box-shadow: 0px 1px 1px 1px #00000025;
		width: 960px;
		padding-bottom: 3.5rem;
		margin: 0 auto;
		border-radius: 7px;
        /* bottom: 0; */
        /* height: fit-content; */;
	}
}

@media screen and (max-width: 900px) {
	.column {
		width: 50%;
	}
}

@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}

@media only screen and (max-width: 994px) {
	#logotext {
		float: right;
		padding-left: 2%;
		padding-top: .5%;
		padding-right: 1%;
	}
}

@media only screen and (min-width: 994px) and (max-width:1045px) {
	#logotext {
		float: right;
		padding-left: 2%;
		padding-top: .5%;
		padding-right: 1%;
	}
}
